*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
mayFirst/ticona.txt.orig
mayFirst/ticona_BACKUP_12948.txt
mayFirst/ticona_BASE_12948.txt
mayFirst/ticona_LOCAL_12948.txt
mayFirst/ticona_REMOTE_12948.txt
